html {
    box-sizing: border-box;
    margin: auto;
    height: 100%;    
    min-width: 320px;    
    max-width: 1440px; 
    font-family: TTLakes; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrap {
    display: flex;        
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%; 
    border-left: 1px solid $BottomBorder;       
        @media (min-width: 1366px) {
            // max-width: 1044px;            
            margin: auto;
        }
        @media (min-width: 1440px) {
            max-width: 1120px;            
        }
}
    header {
        background-color: $bgColor-white;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $BottomBorder;
            @media (min-width: 1366px) {
                display: none;
            }
    }

.button { 
    width: 40px;
    height: 40px;      
    border-radius: 20px;
    border: 0px;
    background-color: $bgColor-pink; 
    background-repeat: no-repeat;
    background-position: 50%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}
.button:focus {
    border: 0;
    outline: none;
}
.button:hover {    
    background-color: #ff1947;
    box-shadow: 0 0 0 5px rgba(255, 62, 121, 0.5);
}
button:hover {
    cursor: pointer;
}
.header__leftCol {
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: space-evenly;
        @media (min-width: 320px) {             
        flex: 0 1 auto;
        width: 200px;
        }    
        .buttonMenu {
            background-image: url("../img/button-menu.svg");
        } 
        .header__divider {
            display: none;
            @media (min-width: 768px) {
                display: flex;
                flex: 0 1 auto;
                width: 2px;
            }
        } 
        .header__logo {
            width: 97px;
            height: 51px;
            background-image: url("../img/logo.svg");          
        }
}
.header__middleCol {
    display: none;
    flex: auto;
    justify-content: space-evenly;
    @media (min-width: 550px) {
        display: flex;
        flex: 1 1 auto;
        width: 160px;
        justify-content: flex-end;
    }
    .button {
        margin-right: 16px;
    }
    
}
.buttonCall{
    background-image: url("../img/button-call.svg");
}
.buttonChat{
    background-image: url("../img/button-chat.svg");
}
.buttonProfile{
    background-image: url("../img/button-profile.svg");
}
.header__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: url("../img/divider.svg");
    background-repeat: no-repeat;
        @media (min-width: 320px) {
        flex: 1 1 auto;
        justify-content: flex-start;
        }
        @media (min-width: 768px) {
        flex: 0 1 auto;
        width: 2px;
        }        
}       
.header__rightCol {    
    display: flex;
    flex: auto;
    justify-content: space-evenly;
        @media (min-width: 320px) {
            flex: 0 1 auto;
            width: 140px;
        }
        @media (min-width: 768px) {
            flex: 0 1 auto;
            width: 140px;
        }
        .buttonRepair {
            background-image: url("../img/button-repair.svg");
        }
        .buttonSearch {
            background-image: url("../img/button-search.svg");
        }
}

.mainSection {
    background-color: $bgColor-smoke;
    position: relative;   
        .mainSection__header {
            @media (min-width: 1366px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;                
                margin: 42px 0 8px 0;
                padding-left: 32px;
            }
        }
}
.mainSection__button {
    button {
        margin-right: 32px;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        background-color: $bgColor-smoke;
        color:$text-black;
            span { 
                margin-right: 8px;         
                text-align: right; 
                font-weight: 500;       
            }
            &:hover span {
                text-decoration: underline;
            }       
    }
    .buttonRepair {
        div {
            background-image: url("../img/button-repair.svg");  
        }
    }
    .buttonSearch {
        div {
            background-image: url("../img/button-search.svg");  
        }
    }
    
}


.mainSection__title {  
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $text-black;
    margin: 24px 16px;
}
.mainSection__title::after {
    content: "";
    position: absolute;    
    width: 4px;
    left: 0;
    top: 24px;
    height: 40px;   
    background-color: $bgColor-blue;    
    border-radius: 0 6px 6px 0;
        @media (min-width: 1366px) { 
            top: 42px;
        }
}
.mainSection__button {
    display: none;
        @media (min-width: 1366px) {
            display: flex;
            flex: 0 1 auto; 
        }
}

.mainSection__nav {
    display: flex;    
    padding-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden; 
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
        @media (min-width: 1120px) {
            flex-wrap: wrap;
        }
}
.mainSection__nav::-webkit-scrollbar {
    height: 0;
}
.mainSection__item {
    display: flex;
    align-items: center;
    height: 40px;
    color: $text-gray;    
    background-color: $bgColor-smoke;
    outline: none;
    border: none;
    font-size: 16px;  
        span {    
            white-space: nowrap;    
            margin: auto;
            padding: 0 16px;    
        }  
        
        &:hover {
            background-color: $bgColor-white;
            border: 2px solid $borderColor-lightBlue;
            border-radius: 6px;   
            outline: none;
        }    
}

// .mainSection__item {     
//     &.active {
//         background-color: $bgColor-white;
//         border: 2px solid $borderColor-lightBlue;
//         border-radius: 6px;   
//         outline: none;
//     }
//     span {    
//         white-space: nowrap;
//     }
// }
.mainSection__article {
    @media (min-width: 768px) {
        display: flex;
    }
}
.article {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 16px; 
        @media (min-width: 768px) {   
            padding: 24px 24px 10px;
        }
}
.article__text {
    font-weight: 400;    
    max-width: 490px;
    overflow: hidden;        
}
.article__text p:first-child {
    margin-bottom: 16px;
}
.article__text.closed {
    height: 90px;
        @media (min-width: 768px) {
            height: 160px;
        }
}
.article__text.open {
    height: auto;
}
.article__button {
    display: flex;
    align-items: center;
    padding-left: 8px;  
    margin-top: 16px;  
    border: 0;       
    background-color: #F8F8F8;
    outline: none;  
    position: relative;  
    &:hover {
        text-decoration: underline;
    }
}

.article__button>span {    
    margin-left:16px;        
    color: #1B1C21;    
}
.article__button>div {
    width: 8px;
    height: 12px;
    background: url("../img/read-more.svg") no-repeat 50% 50%;
}
.mainSection__picture>img {
    margin-top: 30px; 
    width: 100%;       
    min-width: 320px;
        @media (min-width: 320px) { 
            max-width: 490px;
        }
        @media (min-width: 768px) {
            max-width: 800px;
            border-radius: 10px;
        }
}