.mainMenu {
    width: 320px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 676px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);     
    padding: 0 24px 0 24px;
    transform: translateX(-350px);
    z-index: 100; 
    background-color: #fff;
    transition-duration: 0.5s;
    position: fixed;
    @media (min-width: 1366px) {
        position: relative;
        transform: translateX(0);
        box-shadow: none;       
    }
    &.mainMenu_open {
        transform: translateX(0px); 
    }
    .nav-list{
        margin-top: 0;
        padding: 0;
    }
    .nav-list__item {
        list-style: none; 
        padding-bottom: 20px; 
        @media (min-height: 750px) {
            padding-bottom: 28px;
        }
        @media (min-height: 850px) {
            padding-bottom: 32px;
        }
        position: relative;
        a { 
            text-decoration: none;    
            color: $text-black;
        }
        &.active a {
            color: $text-gray;  
        } 
        &.active::after {
            content:"";    
            background-color: #41F6D7;
            border-radius: 0 6px 6px 0;
            position: absolute;
            width: 4px;
            height: 32px;
            left: -24px;
            top: -4px;
        }
    }    
}
.mainMenu__header {
    height: 110px;   
    display: flex;
    align-items: center;    
    justify-content: space-between;  
    .mainMenu__close  {
        background-image: url('../img/button-closed.svg');
        @media (min-width: 1366px) {
            display: none;
        }
        margin-right: 16px;
    }  
    .logo {
        flex: 1;    
        height: 52px;    
        background-image: url("../img/logo.svg");
        background-repeat: no-repeat;
    
    }
    .mainMenu__search {
        background-image: url('../img/button-search-main-menu.svg');
    }
}
.contacts {
    position: absolute;
    bottom: 32px;
    a {
        text-decoration: none;
        color: $text-black;
    }
}
.contacts__button {
    display: flex; 
    .mainMenu__buttonCall {
        background-image: url("../img/button-call.svg");
    }  
    .mainMenu__buttonChat {
        background-image: url("../img/button-chat.svg");
    }
    .mainMenu__buttonProfile {
        background-image: url("../img/button-profile.svg");
    }
}
.contacts__button button {
    margin: 0 16px 16px 0;
}
.contacts__tel {
    margin-top: 12px;
    font-weight: bold;
}
.lang {
    margin-top: 40px ;
}
.lang button {   
    border: 0;    
    outline: none; 
    background-color: $bgColor-white;
    color: $text-black;
    font-weight: 500;
    padding: 0 7px 0 0;     
}
button.active {
    color: $text-gray;    
}

.lang button:hover {
    cursor: pointer;
}