html {
    box-sizing: border-box;
    margin: auto;
    height: 100%;    
    min-width: 320px;    
    max-width: 1440px; 
    font-family: TTLakes; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrap {
    display: flex;        
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    border-left: 1px solid $borderColor-lightBlue;       
        @media (min-width: 1366px) {
            // max-width: 1044px;            
            margin: auto;
        }
        @media (min-width: 1440px) {
            max-width: 1120px;            
        }
}
    .header {
        background-color: $bgColor-white;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $BottomBorder;
            @media (min-width: 1366px) {
                display: none;
            }
    }


.header__left-col {
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: space-evenly;
        @media (min-width: 320px) {             
        flex: 0 1 auto;
        width: 200px;
        }    
        .button-menu {
            background-image: url("../img/button-menu.svg");
        } 
        .header__divider {
            display: none;
            @media (min-width: 768px) {
                display: flex;
                flex: 0 1 auto;
                width: 2px;
            }
        } 
        .header__logo {
            width: 97px;
            height: 51px;
            background-image: url("../img/CPS-logo.svg");          
        }
}
.header__middle-col {
    display: none;
    flex: auto;
    justify-content: space-evenly;
    @media (min-width: 550px) {
        display: flex;
        flex: 1 1 auto;
        width: 160px;
        justify-content: flex-end;
    }
    .button {
        margin-right: 16px;
    }
    
}
.button-call{
    background-image: url("../img/button-call.svg");
}
.button-chat{
    background-image: url("../img/button-chat.svg");
}
.button-profile{
    background-image: url("../img/button-profile.svg");
}
.header__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: url("../img/divider.svg");
    background-repeat: no-repeat;
        @media (min-width: 320px) {
        flex: 1 1 auto;        
        }
        @media (min-width: 550px) {
        flex: 0 1 auto;
        width: 2px;
        }        
}       
.header__right-col {    
    display: flex;
    flex: auto;
    justify-content: space-evenly;
        @media (min-width: 320px) {
            flex: 0 1 auto;
            width: 140px;
        }
        @media (min-width: 768px) {
            flex: 0 1 auto;
            width: 140px;
        }
        .button-repair {
            background-image: url("../img/button-repair.svg");
        }
        .button-search {
            background-image: url("../img/button-search.svg");
        }
}

.main-section {
    background-color: $bgColor-smoke;
    position: relative;   
    border-bottom: 1px solid $BottomBorder;

        &__header {
            @media (min-width: 1366px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;                
                margin: 42px 0 8px 0;
                padding-left: 32px;
            }
        }
}
.main-section__button {
    .button-repair, .button-search  {
        margin-right: 32px;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        background-color: $bgColor-smoke;
        color:$text-black;
            .button-repair__text, .button-search__text { 
                margin-right: 8px;         
                text-align: right; 
                font-weight: 500;  
                     
            }  
            &:hover .button-repair__text, &:hover .button-search__text {
                text-decoration: underline;
                cursor: pointer;
            }
            &:hover .button {
                background-color: $bdColor-red;
                box-shadow: 0 0 0 5px rgba(255, 62, 121, 0.5);
                cursor: pointer;
            }                
    }
    .button-repair {
        div {
            background-image: url("../img/button-repair.svg");  
        }        
    }
    .button-search {
        div {
            background-image: url("../img/button-search.svg");  
        }
    }
    
}


.main-section__title {  
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $text-black;
    margin: 24px 16px;
}
.main-section__title::after {
    content: "";
    position: absolute;    
    width: 4px;
    left: 0;
    top: 24px;
    height: 40px;   
    background-color: $bgColor-blue;    
    border-radius: 0 6px 6px 0;
        @media (min-width: 1366px) { 
            top: 42px;
        }
}
.main-section__button {
    display: none;
        @media (min-width: 1366px) {
            display: flex;
            flex: 0 1 auto; 
        }
}

.main-section__nav {
    display: flex;    
    padding-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden; 
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
        @media (min-width: 768px) {
            flex-wrap: wrap;
        }
}
.main-section__nav::-webkit-scrollbar {
    height: 0;
}
.main-section__item {
    display: flex;
    align-items: center;
    height: 40px;
    color: $text-gray;    
    background-color: $bgColor-smoke;
    border: 2px solid $bgColor-smoke;  
    font-size: 16px;  
    font-weight: 500;  
    padding: 0 16px; 
    white-space: nowrap;    
    text-decoration: none;            
        &:hover {
            background-color: $bgColor-white;
            border: 2px solid $borderColor-lightBlue;
            border-radius: 6px;                        
        }    
}

.main-section__article {
    @media (min-width: 768px) {
        display: flex;
    }
}
.article {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 16px; 
        @media (min-width: 768px) {   
            padding: 24px 24px 10px;
        }
}
.article__text {
    font-weight: 400; 
    line-height: 20px;   
    max-width: 490px;
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis; 

    p:first-child {
        margin-bottom: 16px;
    }
    &.closed {
        height: 90px;
            @media (min-width: 768px) {
                height: 160px;
            }
    }
    &.open {
        height: auto;
    }
}
.text__wrap {
    -webkit-column-width: 320px;
    -moz-column-width: 320px;
    column-width: 320px;
    height: 100%;
    p {
        margin-top: 0;
        padding-top: 0;
    }
}

.article__button {
    display: flex;
    align-items: center;
    padding-left: 8px;  
    margin-top: 16px;  
    border: 0;  
    font-weight: 500;     
    background-color: #F8F8F8;
    outline: none;  
    position: relative;  
    &:hover {
        text-decoration: underline;
    }
}

.article__button {
    span {    
        margin-left:16px;        
        color: $text-black;    
    }
}
.article__button {
    div {
        width: 8px;
        height: 12px;
        background: url("../img/read-more.svg") no-repeat 50% 50%;
    }
}
.main-section__picture {
    img {
        margin-top: 30px; 
        width: 100%;       
        min-width: 320px;
            @media (min-width: 320px) { 
                max-width: 490px;
                // margin: auto;
            }
            @media (min-width: 768px) {
                max-width: 800px;
                border-radius: 10px;
            }
        }
}

.footer__politics {
    a{
        text-decoration: none;
        color: $text-gray;
    }
    &:hover {
        a{
            text-decoration: underline;
        }
    }

}