.swiper-container__pricesOfServices {
    background-color: $bgColor-smoke;   
    border-bottom: 1px solid $BottomBorder;
    height: auto;
    .swiper-wrapper {
        display: flex;   
        height: 200px;  
        margin-top: 16px;
        @media (min-width: 768px) {       
            height: auto;
            display: table;  
            border-collapse: collapse;          
            empty-cells: hide; 
            width: 95%;
            margin: auto; 
            border-radius: 6px 
        }            
    }
    .swiper-pagination {
        @media (min-width: 768px) {       
            display: none;                                          
        }
    }
    .hint768 {
        display: none;
        color: $text-gray;
        @media (min-width: 768px) {       
            display: table-row;                                          
        }
        span {
            display: table-cell;            
            padding: 31px 0 16px 0;
        }  
        .services {
            padding-left: 16px;
        }      
    }    
    .swiper-slide { 
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 200px;   
        border: 0;                                               
            @media (min-width: 768px) {       
                height: 64px;                
                display: table-row; 
                border-left: 32px solid white;
                border-right: 32px solid white;                                                                                             
            }             
        .swiper-slide__hint {
            color:$text-gray;
            line-height: 16px; 
            font-weight: 400;                   
            @media (min-width: 768px) {       
                display: none;
            }
        }         
        .swiper-slide__services {
            margin-top: -10px;
            margin-bottom: 5px;
        }
        .swiper-slide__price {
            margin-top: -10px;
            margin-bottom: 5px;
        }
        .swiper-slide__term {
            margin-top: -10px;
        }
        &:last-child {
            .swiper-slide__services{
                border: 0;                
            }
            .swiper-slide__price {
                border: 0;
            }
            .swiper-slide__term {
                border: 0;
            } 
            .swiper-slide__goOrder {
                border: 0;
            }    
        }
    }
    .swiper-slide__services {
        @media (min-width: 768px) {       
            display: table-cell;            
            border-bottom: 1px solid  #eaeaea;                     
        }               
    }
    .swiper-slide__price {
        @media (min-width: 768px) {       
            display: table-cell;
            border-bottom: 1px solid #eaeaea;
        }
    }
    .swiper-slide__term {
        @media (min-width: 768px) {       
            display: table-cell;
            border-bottom: 1px solid #eaeaea;
        }
    }

    .swiper-slide__goOrder { 
        @media (min-width: 768px) {       
            display: table-cell;  
            border-bottom: 1px solid #eaeaea;
        }
        button{       
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 119px;
            height: 32px;
            border-radius: 16px;
            border: none;
            outline: none;
            font-size: 12px;
            line-height: 24px;
            text-align: right;            
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: $bgColor-white;
            background-color: $bgColor-pink;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 16px;            
                &:hover {                    
                    cursor: pointer;
                    color: $bgColor-pink;
                    background-color: $bgColor-white;
                    border: 1px solid $bgColor-pink
                }
                &:hover div{
                    background-image: url('../img/goOrder__hover.svg'); 
                }                
                div{  
                    height: 24px;
                    width: 24px;                     
                    background-image: url('../img/goOrder.svg'); 
                    transform: translateX(5px);
                }
                @media (min-width: 768px) {       
                    position: relative; 
                    left: 20%;                               
                }
                @media (min-width: 950px) {                 
                    left: 30%;                               
                }
                @media (min-width: 1100px) {                 
                    left: 40%;                               
                }
        }
          
    }
}
.ndsText {
    min-width: 288px;
    margin:0 16px 0 16px;
    font-size: 14px;
    @media (min-width: 768px) {
        margin: 24px 0 0 24px;
        width: 421px;
    }    
}
.commercialProposal {
    margin-top: 16px;
    margin-bottom: 40px;
    button {        
        display: inline-flex;         
        border: 0;  
        padding: 0;             
        background-color: #F8F8F8;
        outline: none;        
        font-size: 16px;  
        font-weight: 500;
        margin-left: 16px;
        text-align: left;
        
        
            span {                    
                color: #1B1C21;               
                background: url("../img/Line.svg") no-repeat 60% 90%;
                width: 192px;
                @media (min-width: 400px) {
                    width: 320px;
                    background-position: 98% 60%;
                }
            }    
            &:hover {
                cursor: pointer;
                text-decoration: underline;    
            }
        @media (min-width: 768px) {
            width: auto;
            margin-left: 24px;
        }
    }
}
.footer {
    height: 129px;    
    text-align: center;
    font-size: 14px;
    color: $text-gray;
    @media (min-width: 768px) {
        display: flex;
        height: 81px;
    }
    @media (min-width: 1366px) {        
        height: 65px;
    }
        span {
            display: block;            
            margin: auto;
            margin-top: 16px;
        }
        .footer__development {            
            width: 218px;            
        }
        .footer__politics {
            width: 214px;
            
        }
        .footer__offer {
            width: 312px;            
            margin-bottom: 19px;
        }
}