@import 'normalize';
$bgColor-white: #fff;
$bgColor-pink: #FF3E79;
$bdColor-red: #ff1947;
$bgColor-smoke: #F8F8F8;
$bgColor-blue: #41F6D7;
$borderColor-lightBlue: #B8FFEC;
$text-black: #1B1C21;
$text-gray: #7E7E82;
$BottomBorder: #D9FFF5;


@font-face {     
  font-family: TTLakes;      
  src: url("../fonts/TTLakes-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}
@font-face {     
  font-family: TTLakes;      
  src: url("../fonts/TTLakes-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
}  
@font-face {     
  font-family: TTLakes;      
  src: url("../fonts/TTLakes-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
}  
@import 'mainPage';
@import 'swiper.min';
@import 'style-swiper';
@import 'style-swiper-pricesOfServices';